.login {
  display: flex;
  justify-content: center;
  padding: 70px 10px 50px;
}

.login-form {
  box-shadow: 0px 0px 13px 0px rgb(27, 36, 194);
  border: 1px solid #6cb3f7;
  padding: 15px 30px;
  min-height: 300px;
  width: max(50%, 800px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.log-in-form {
  max-width: 400px;
  width: max(50%, 300px);
}

.login-form > .wrap-input:not(:first-child) {
  margin-bottom: 25px;
}

.login-title {
  margin: 0;
  display: block;
  padding: 0px 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
}
@media (max-width: 400px) {
  .login-title {
    font-size: 25px;
  }
}

.wrap-input {
  width: 100%;
}

.wrap-input input:focus {
  box-shadow: 0px 0px 10px 2px rgb(27, 36, 194);
}

.wrap-input input {
  font-weight: 500;
  border: 1px solid #277170;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #2b2c2e;
  width: 100%;
  padding: 10px 20px;
}

.login-input {
  padding: 5px 10px;
}

.login-input::-moz-placeholder {
  color: #fff;
}

.login-input::placeholder {
  color: #fff;
}

.login-btn {
  background-color: rgba(85, 74, 230, 0.699);
  padding: 10px 65px;
  border-radius: 10px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 420px) {
  .login-btn {
    padding: 10px 40px;
  }
}
@media (max-width: 360px) {
  .login-btn {
    padding: 10px 30px;
  }
}

@media (max-width: 700px) {
  .wrap-input_log-in {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .wrap-input_log-in input {
    width: 250px;
  }
}

.login-btn:hover {
  transition: background-color 0.3s ease;
  background-color: rgba(72, 61, 228, 0.9);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.login {
  margin-top: 80px;
}

.log-in-form__btn {
  margin-bottom: 10px;
}
@media (max-width: 420px) {
  .log-in-form__btn {
    padding: 10px 60px;
  }
}

.wrap-input input::-moz-placeholder {
  color: #f7f7f7;
  font-weight: 500;
}

.wrap-input input::placeholder {
  color: #f7f7f7;
  font-weight: 500;
}

.not-account-need-register {
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.no-account {
  display: inline-grid;
  margin: 0;
}

.no-account:hover {
  color: #70ec1d;
  transition: color 0.1s ease;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  -ms-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
}

.no-account-align {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:-moz-placeholder-shown + span {
  top: -5px;
  font-size: 0.9em;
}

.form label .input:placeholder-shown + span {
  top: -5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input + span {
  color: #00bfff;
  top: -10px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: rgba(0, 191, 255, 0.5882352941);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.error-message {
  color: red;
}/*# sourceMappingURL=Login.module.css.map */