@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-Roboto: 'Roboto', sans-serif;
  --font-OpenSans: 'Open Sans', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Merriweather: 'Merriweather', serif;
  --color1: rgb(165, 21, 21);
  --btn-color-1: rgb(165, 21, 21);
  --btn-color-2: rgb(104, 236, 27);
  --btn-color-3: #1f2852;
  --bg-main: #e6e6fa;
  --bg-gradient: linear-gradient(225deg, rgb(71, 106, 214) 27%, rgb(82, 182, 103) 76%);
  --accent-color: #6a6aee;
}

/* RESET */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  /* background-color: transparent; */
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  /* background-color: transparent; */
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
textarea:focus,
select:focus,
button:focus,
button:active {
  outline: none;
  background-color: #1d1d22;
}
input:focus,
textarea:focus,
select:focus {
  /* background-color: rgb(233, 132, 132);
  border: 22px solid #f7f0f0 !important; */
}
/* 
select {
	overflow-y: auto;
	max-height: 150px;
} */

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/* RESET CLOSE */

html {
  height: 100%;
}
body {
  font-family: var(--font-Montserrat);
  font-weight: 400;
  height: 100%;
  background-color: #000;
  /* background-image: linear-gradient(to right top, #3478e0, #2983e5, #228de9, #2197ec, #28a1ee);
  background-image: linear-gradient(to bottom, #2253ae, #2854bd, #3454cb, #4353d9, #5550e5);
  background-image: linear-gradient(to bottom, #3575ec, #567aea, #6d7fe8, #7f85e7, #8e8be5); */
  color: #ffffff;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.ds-none {
  overflow: hidden;
}

select option {
  background: #212124;
}

textarea {
  resize: vertical;
  outline: 0;
  outline-offset: 0;
}

.CreateTournament__AllTournaments {
  /* max-width: 1300px; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen {
}
