@mixin ui-btn-cancell {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: rgb(219, 218, 218);
  border-style: solid;
  background-color: transparent;
  border-color: rgb(219, 218, 218);
  width: fit-content;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 2px;
  @media (max-width: 440px) {
    width: 100%;
  }
  &:hover {
    color: rgb(247, 247, 247);
    background-color: rgb(202, 25, 25);
    border-color: rgb(202, 25, 25);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(202, 25, 25), 0 0 30px rgb(202, 25, 25), 0 0 60px rgb(202, 25, 25), 0 0 120px rgb(202, 25, 25);
    @media (max-width: 440px) {
      width: 100%;
    }
  }
  &:active {
    // height: 38px;
    @media (max-width: 440px) {
      width: 100%;
    }
  }
}

@mixin ui-btn-success {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: rgb(219, 218, 218);
  border-style: solid;
  background-color: transparent;
  border-color: rgb(219, 218, 218);
  width: fit-content;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  @media (max-width: 440px) {
    width: 100%;
  }
  &:hover {
    color: rgb(247, 247, 247);
    background-color: rgb(42, 145, 73);
    border-color: rgb(42, 145, 73);
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73), 0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
    @media (max-width: 440px) {
      width: 100%;
    }
  }
  &:active {
    width: fit-content;
    @media (max-width: 440px) {
      width: 100%;
    }
    // height: 38px;
  }
}
