.createTournament {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-image: linear-gradient(to right top, #75a4eb, #519cec, #329bf7, #2197ec, #28a1ee);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  border: 1px solid #6cb3f7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  @media (max-width: 750px) {
    margin-top: 10px;
  }
  @media (max-width: 650px) {
    padding: 20px 20px;
  }
  &__container {
    padding-bottom: 20px;
  }

  .form-label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 7px;
  }

  .form-check__typeTournament {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }

  &__title {
    font-size: 40px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-weight: 400;
    @media (max-width: 700px) {
      font-size: 33px;
    }
    @media (max-width: 550px) {
      font-size: 30px;
    }
    @media (max-width: 429px) {
      font-size: 27px;
    }
    @media (max-width: 429px) {
      font-size: 23px;
    }
    @media (max-width: 429px) {
      font-size: 23px;
    }
  }
  &__desc {
    border: 1px solid var(--accent-color);
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    resize: vertical; /* Разрешить изменение высоты */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    @media (max-width: 400px) {
      height: 150px;
    }
  }

  .tournamentName,
  &__select {
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

input:focus,
select:focus,
textarea:focus {
  // box-shadow: 0 0 5pt 2pt #D3D3D3;
  box-shadow: 0 0 3pt 1pt var(--accent-color);
  //  -webkit-box-shadow: 1px -1px 33px 2px rgba(106,106,238,1);
  // -moz-box-shadow: 1px -1px 33px 2px rgba(106,106,238,1);
  // box-shadow: 1px -1px 33px 2px rgba(106,106,238,1);
  outline-width: 0px;
}

.invalid {
  // background-color: rgb(15, 116, 139);
  border: 1px solid red !important;
}

.error-message {
  font-size: 13px;
  font-weight: 500;
  max-width: 300px;
  color: #fff;
  padding: 5px 5px 5px;
  background-color: rgb(199, 39, 39);
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.error-message__date-input {
  margin-top: -20px;
	margin-bottom: 20px;
}

.hidden {
  display: none;
}
