.tournament {
  // background-image: linear-gradient(to right top, #75a4eb, #519cec, #329bf7, #2197ec, #28a1ee);

  -webkit-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  border: 1px solid #6cb3f7;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 40px;
    // text-align: center;
    padding: 0px 10px;
    margin-bottom: 30px;
    @media (max-width: 700px) {
      font-size: 29px;
    }
    @media (max-width: 530px) {
      font-size: 25px;
			text-align: center;
    }
  }

  &__box {
    color: #fff;
    // background-color: #7487f1;
    padding: 20px 20px 0px;
    background-image: linear-gradient(to right top, #75a4eb, #519cec, #329bf7, #2197ec, #28a1ee);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
    box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
    border: 1px solid #6cb3f7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  &__box:hover {
    transition: background-color 0.3s ease;
    background-color: #2d7bf1;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
  }
}
.searchInput-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 10px;
	justify-items: center;
  // justify-content: space-between;
}
.searchInput, .sportType-select, .tournamentType-select {
	  border: 1px solid #3325f3;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
}
// .searchInput {
//   border: 1px solid #3325f3;
//   width: 100%;
//   max-width: 300px;
//   padding: 10px;
//   margin-bottom: 20px;
// }
// .sportType-select {
//   border: 1px solid #3325f3;
//   width: 100%;
//   max-width: 300px;
//   padding: 10px;
//   margin-bottom: 20px;
// }

// .tournamentType-select {
//   border: 1px solid #3325f3;
//   width: 100%;
//   max-width: 300px;
//   padding: 10px;
//   margin-bottom: 20px;
// }

.reset-button {
  border: 1px solid #3325f3;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  margin-bottom: 20px;
}

.reset-button:hover {
  background-color: #3325f3;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
}
.reset-button:active {
  background-color: #18145e;
}
.pagination {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  @media (max-width:370px) {
  gap: 10px;

  }
}
.pagination-span {
  margin: 0;
}
.pagination-btn {
  border: 1px solid;
  padding: 10px;
  @media (max-width:370px) {
  padding: 4px;
    font-size: 14px;
  }
}
.pagination-btn:hover {
  background-color: #22517e;
  border: 1px solid #1ed436;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
}

.button_active {
  color: #1ed436;
}
