.admin-title {
  margin-bottom: 15px;
}

.tournamentRegistrations {
  // box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  // border: 1px solid #6cb3f7;
  border-radius: 20px;
  padding: 20px 40px;
  margin-top: 30px;
}

.tournamentRegistrations-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.tournamentRegistrations-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tournamentRegistrations-ul li {
  border: 1px solid #24dd24;
  padding: 15px;
  /* display: flex; */
}
.tournamentRegistrations-btn-accept {
  background: var(--btn-color-2);
  margin-right: 30px;
  padding: 10px;
  @media (max-width: 400px) {
    margin-right: 0;
  }
}

.tournamentRegistrations-btn-accept:hover {
  background: var(--btn-color-2-hover);
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
}

.tournamentRegistrations-btn-reject {
  background: var(--btn-color-1);
  padding: 10px;
}
.tournamentRegistrations-btn-reject:hover {
  background: var(--btn-color-1-hover);
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -ms-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
}
.tournamentRegistrations-span {
  display: inline-block;
  min-width: 100px;
  background-color: #032757;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
  margin-top: 0;
  @media (max-width: 550px) {
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 400px) {
    min-width: 50px !important;
    margin: 0;
  }
}

.tournamentRegistrations-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  @media (max-width: 550px) {
    display: grid;
    grid-template-columns: 1fr;
    // justify-items: self-start;
    max-width: 100%;
    gap: 20px;
  }
}

.tournamentRegistrations-div-end {
  align-self: flex-end;
  @media (max-width: 550px) {
    display: flex;
    justify-content: space-evenly;
  }
  @media (max-width: 400px) {
    flex-direction: column;
    gap: 20px;
  }
}

.form-matches {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.form-matches-btn {
  background-color: rgb(15, 214, 240);
  padding: 10px 20px;
}

.confirmAction {
  text-align: center;
}

.acceptOrReject {
  padding: 10px;
  margin-bottom: 20px;
}
.acceptOrReject-container {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}

.acceptOrReject-btn {
  /* display: flex; */
  padding: 10px;
  text-align: center;
  background-color: var(--btn-color-2);
  width: 130px;
}
.acceptOrReject-btn:hover {
  background-color: var(--btn-color-2-hover);
}
.acceptOrReject-btn:hover,
.acceptOrReject-btn-cancel:hover {
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.acceptOrReject-btn-cancel {
  background-color: var(--btn-color-1);
  padding: 10px;
  text-align: center;
  width: 130px;
}

.acceptOrReject-btn-cancel:hover {
  background-color: var(--btn-color-1-hover);
}

.accepted__ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accepted__li {
  padding: 10px;
  max-width: 300px;
  border: 2px solid #d4d6eb;
  border-radius: 5px;
  background-color: rgb(19, 69, 73);
}

.menu-btn_div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  @media (max-width: 500px) {
    margin-top: 40px;
  }
}

.menu-button {
  font-size: 14px;
  padding: 7px;

  border-radius: 5px;
}

.menu-button-active {
  /* background-color:rgb(129 7 41) !important; */
  // background-color: var(--color1) !important;
  background-color: rgb(40 5 127);

  font-size: 14px;

  padding: 7px;
  border-radius: 5px;
}

.form-label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 7px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group__container .form-group {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 641px) {
    justify-content: space-between;
  }
}

.edit-tournament {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-image: linear-gradient(to right top, #75a4eb, #519cec, #329bf7, #2197ec, #28a1ee);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  box-shadow: 0px 0px 13px 0px rgba(27, 36, 194, 1);
  border: 1px solid #6cb3f7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  @media (max-width: 750px) {
    margin-top: 10px;
  }
  @media (max-width: 650px) {
    padding: 20px 20px;
  }
  &__container {
    padding-bottom: 20px;
  }
}

.edit-input {
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.date-flex {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.date-flex .form-group {
  display: flex;
  gap: 20px;
}

.edit-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.btn-flex {
  display: flex;
  justify-content: space-around;
}

.btn-flex button,.edit-btn {
	color: #fff;
	font-family: var(--main2-font);
	padding: 10px 20px;
	max-width: 250px;
	background-color: rgb(106, 106, 238);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.edit-btn{
 display: block;
 width: 100% !important;
 max-width: 100%;
}