@charset "UTF-8";
.current-tournament {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10px;
  padding: 10px 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 13px 0px rgb(27, 36, 194);
  border: 1px solid #6cb3f7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (max-width: 900px) {
  .current-tournament {
    padding: 20px 20px;
  }
}
@media (max-width: 880px) {
  .current-tournament {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .current-tournament {
    padding: 10px 10px;
  }
}
.current-tournament h1 {
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 700px) {
  .current-tournament h1 {
    font-size: 29px;
  }
}
@media (max-width: 530px) {
  .current-tournament h1 {
    font-size: 25px;
  }
}
.current-tournament .current-tournament__span-clr {
  background-color: #273366;
}
.current-tournament .current-tournament__h3 {
  display: flex;
  font-size: 17px;
  margin-bottom: 5px;
}
.current-tournament .current-tournament__h3-desc {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.current-tournament .current-tournament__h3-desc .current-tournament__span {
  align-self: start;
}
.current-tournament .ui-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: rgb(219, 218, 218);
  border-style: solid;
  background-color: transparent;
  border-color: rgb(219, 218, 218);
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
}
@media (max-width: 440px) {
  .current-tournament .ui-btn {
    width: 100%;
  }
}
.current-tournament .ui-btn:hover {
  color: rgb(247, 247, 247);
  background-color: rgb(202, 25, 25);
  border-color: rgb(202, 25, 25);
  text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
  box-shadow: 0 0 50px rgb(202, 25, 25), 0 0 30px rgb(202, 25, 25), 0 0 60px rgb(202, 25, 25), 0 0 120px rgb(202, 25, 25);
}
@media (max-width: 440px) {
  .current-tournament .ui-btn:hover {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .current-tournament .ui-btn:active {
    width: 100%;
  }
}
.current-tournament .btn-div-delete {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.current-tournament .cancell-btn {
  background-color: var(--btn-color-3);
  padding: 10px;
  text-align: center;
}
.current-tournament .delete-btn {
  background-color: var(--btn-color-1);
  padding: 10px;
  text-align: center;
}
.current-tournament .sd {
  width: -moz-fit-content;
  width: fit-content;
}
.current-tournament__span {
  display: inline-block;
  min-width: 150px;
  color: #fff;
  background-color: rgb(51, 100, 127);
  margin-right: 15px;
  padding: 5px 10px;
  /* Ограничение текста по ширине и разрешение переноса слов */
  max-width: 100%;
  word-wrap: break-word; /* Разрешает перенос слов */
  white-space: pre-wrap; /* Разрешает перенос строк */
}
@media (max-width: 370px) {
  .current-tournament__span {
    min-width: 100px;
  }
}

.current-tournament__h1 {
  background: #090924;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #3325f3;
  /* Ограничение текста по ширине и разрешение переноса слов */
  max-width: 100%;
  word-wrap: break-word; /* Разрешает перенос слов */
  white-space: pre-wrap; /* Разрешает перенос строк */
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #172e96;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
  padding: 10px 5px;
  background: #2473eb;
  border: 1px solid #dddddd;
}

.table td {
  border: 1px solid #dddddd;
  padding: 8px 8px;
  text-align: center;
}

.no-players {
  padding: 40px;
  text-align: center;
  background: #2473eb;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.no-started {
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  margin-top: 40px;
  background: #2473eb;
  font-size: 18px;
}

.start-tournament {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--btn-color-2);
}

.start-tournament:hover {
  background-color: var(--btn-color-2-hover);
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.mb-2 {
  margin-bottom: 8px;
}

.no-wrap {
  white-space: nowrap;
}

.tournament-container {
  display: grid;
  grid-template-columns: 1fr;
}

.current-tournament__menu-list {
  display: flex;
  padding-top: 10px;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  .current-tournament__menu-list {
    display: none;
  }
}

@media (max-width: 750px) {
  .current-tournament__menu-list.active {
    display: grid;
    justify-items: center;
  }
}

.current-tournament__nav {
  cursor: pointer;
  padding: 15px;
}

.current-tournament__menu_active {
  background-color: rgb(23, 9, 75);
  padding: 15px;
  border-radius: 5px;
}

.tournament-register {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 0px 13px 0px rgb(32, 243, 225);
  border-radius: 20px;
  padding: 40px;
  min-height: 30vh;
}
@media (max-width: 360px) {
  .tournament-register {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.participant-row,
.teamName-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.participant-row input,
.teamName-row input {
  min-width: 320px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 15px;
}

.participant-row button,
.teamName-row button {
  border: 1px solid rgb(0, 1, 2) !important;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--btn-color-3);
  min-width: 320px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 500px) {
  .participant-row button,
  .teamName-row button {
    min-width: 100px;
  }
}

.participant-row button:hover,
.teamName-row button:hover {
  background-color: #273366;
  border: 2px solid #a567c0 !important;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
}

.menu_activ {
  background-color: var(--btn-color-4);
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.currentTournamentTable {
  margin-top: 30px;
}

.no-access {
  padding: 20px;
  margin-top: 30px;
  border: 1px solid #6cb3f7;
  box-shadow: 0px 0px 13px 0px rgb(27, 36, 194);
}

.need-register {
  display: inline;
  color: rgb(16, 138, 36);
}

.need-register:hover {
  color: #70ec1d;
  transition: color 0.2s;
  text-decoration: underline;
  text-underline-offset: 5px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.menu-icon2 {
  display: none;
}

.relative-icon {
  position: relative;
}

@media screen and (max-width: 750px) {
  .menu-icon2 {
    display: block;
    width: 52px;
    position: absolute;
    right: -32px;
    bottom: 8px;
    justify-content: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 750px) {
  .menu-icon2 {
    top: 8px;
  }
}

/* Loader */
.loading-container {
  display: flex;
  justify-content: center;
}

.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}
.ui-btn-div {
  width: -moz-fit-content;
  width: fit-content;
  justify-self: end;
}

.comments-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.comments-h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.comments-list {
  display: grid;
}

.comments-item {
  padding: 10px;
  background-color: #0d1419;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid;
}

.comments-item-delete {
  justify-self: end;
  display: flex;
}

.comments-textarea {
  background-color: #0d1641;
  padding: 10px;
  min-height: 100px;
}

.comments-add {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.comments-add-btn {
  padding: 20px;
  background-color: var(--btn-color-2);
}

.messageBox {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}

.messageBox input:hover, .messageBox input:focus {
  box-shadow: none;
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}

#messageInput {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-right: 10px;
  color: white;
}

#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}/*# sourceMappingURL=CurrentTournament.css.map */